.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #886644;  
  min-height: 16vh;  
  display: flex;  flex-direction: column;  
  align-items: center;  
  justify-content: center;  
  font-size: calc(10px + 2vmin);  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {    transform: rotate(0deg);  }
  to {    transform: rotate(360deg);  }
}


.paper   { background-color:#886644; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; height: 100%;  }
.menu    { display:table; font-size:1em; }

.course  { display:table-row; font-family:inherit; }
.caption { display:table-row; height:60px; font-family:inherit;  }
.title   { display:table-row; font-size:2em; width:600px; text-align:center; font-family:inherit; }

.choice  { display:table-cell; float:left; width:150px;  font-weight:bold; font-family:inherit; font-size:0.8em;}
.spacer  { display:table-cell; float:left; width:15px; }


